<div>
    <!-- <button class="create-button"> Create Note </button> -->

    <button type="button" class="create-button" 
        (click)="createNote()"
        data-toggle="modal" data-target="#myModal">
        Open modal
    </button>

    <table id="customers" *ngIf="noteObject.length">
        <thead>
            <tr>
                <td>Note</td>
                <td>Category</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let noteData of noteObject; let i = index" style="background-color: {{noteData.categoryColor}}"  >
                <td>{{noteData.note}}</td>
                <td>{{noteData.category}}</td>
                <td>
                    <!-- <span><i class="fas fa-edit hand" (click)="deleteNote(noteData)" ></i></span>&nbsp; -->
                    <!-- <span> <i class="fas fa-trash hand"></i></span> -->
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal" (click)="editNote(noteData)">Edit</button>
                    <button type="button" style="margin-left: 10px;" class="btn btn-danger"
                        (click)="deleteNote(noteData)">Delete</button>

                </td>
            </tr>
            <!-- <p *ngIf="!noteObject.length"> No data added !  </p> -->
        </tbody>

    </table>
    <p *ngIf="!noteObject.length" style="    margin-left: 50%;
    "> No data added ! </p>

</div>

<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add Note</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Category:</label>
                        <input type="text" class="form-control" [(ngModel)]='category' name="category" id="recipient-name">
                    </div>
                    <!-- <div class="form-group">
                        <label for="recipient-name" class="col-form-label">color:</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div> -->

                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Note:</label>
                        <textarea class="form-control" name="note" [(ngModel)]='note' id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)="saveNote()">{{  (isEdit) ? 'Edit' : 'Save'}}
                    Note</button>
            </div>

        </div>
    </div>
</div>